- content_for :initialization_coffee do
  App.showStorybook(#{@storybook.id})

- content_for :header do
  = render 'layouts/toolbar'


.storybook-content
  .navbar.sidebar.left
    #scene-list
  .navbar.sidebar.right
    #asset-library-sidebar
  - flash.each do |name, msg|
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"}
      = msg
  %canvas{id: 'builder', width: 3500, height: 2500}
    %p Your browser doesn't support the technology required to run this application.
  #context-menu
    .sprite
    .button
    .text
    .hotspot

      #action-form-container

  -# preload icons for the asset library
  .hidden
    %img{ src: '/assets/image-icon.png' }
    %img{ src: '/assets/audio-icon.png' }
    %img{ src: '/assets/video-icon.png' }

%footer.navbar.navbar-fixed-bottom
  %footer
    #keyframe-list
/ Aids w/ clipboard clean-up on paste
%div#cleanUp{:contenteditable => 'true'}
= render 'shared/content_modal'
= render 'shared/lightbox_modal'

