- content_for :initialization_javascript do
  :plain
    App.setCurrentUser("#{current_user.id}");
    App.setSignedInAsUser("#{signed_in_as_user.id}");
    App.trackUserAction('Visited app builder page');

    config = {
      // 0 to turn debug off, 1 for basic debug, and 2 for full debug
      COCOS2D_DEBUG:    0,
      box2d:            false,
      chipmunk:         false,
      showFPS:          false,
      loadExtension:    false,
      frameRate:        40,
      renderMode:       1,
      tag:              'builder',
      SingleEngineFile: '/assets/Cocos2d-html5-v2.2.2.min',
      appFiles:         [ '/assets/builder' ],
    }

    script = document.createElement('script')
    script.id = 'cocos2d-html5'
    script.src = config.SingleEngineFile
    document.ccConfig = config
    document.body.appendChild(script)

- content_for :header do
  = render 'layouts/toolbar'


.navbar.sidebar.left
  #scene-list
.navbar.sidebar.right
  %section
    %a.handle{ 'data-toggle' => "collapse", 'data-target' => "#sprite-list" }
      %span.indicator
        %span.open &#9658;
        %span._close &#9660;

      Scene images
    #sprite-list.collapse

  %section.active
    %a.handle{ 'data-toggle' => "collapse", 'data-target' => "#asset-library-sidebar" }
      %span.indicator
        %span.open &#9658;
        %span._close &#9660;
      Media
    #asset-library-sidebar.collapse

- flash.each do |name, msg|
  %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
    %a.close{"data-dismiss" => "alert"}
    = msg

.canvas-container
  %canvas{id: 'builder', width: 3500, height: 2500}
    %p Your browser doesn't support the technology required to run this application.
  #cocos2d_loadJsImg

#context-menu
  .sprite
  .button
  .text
  .hotspot

#action-form-container

-# preload icons for the asset library
.hidden
  %img{ src: '/assets/image-icon.png' }
  %img{ src: '/assets/audio-icon.png' }
  %img{ src: '/assets/video-icon.png' }

%footer.navbar.navbar-fixed-bottom
  %footer
    #keyframe-list
/ Aids w/ clipboard clean-up on paste
%div#cleanUp{:contenteditable => 'true'}
= render 'shared/content_modal'
= render 'shared/lightbox_modal'

