%h3
  = "(" + @users_count.to_s + ")"
  - if params[:deleted] == 'true'
    Deleted
  - else
    Undeleted
  Subscription Application Users

.search-box
  = form_tag search_admin_subscription_users_path, :method => 'get' do
    %p
      = text_field_tag :q, params[:q], :placeholder => 'search with email'
      = submit_tag 'Search', :name => nil
  = link_to("clear search parameters", admin_subscription_users_path)

= paginate(@users)
%table#users.table.table-hover.table-bordered
  %thead
    %tr
      %th
        ID
      %th
        Email
      %th
        Signed Up
      %th
        Price Variable
      %th
        Last signed in at
      %th
        Actions
  %tbody
    - for user in @users
      %tr
        %td
          = user.id
        %td
          = user.email
        %td
          = time_ago_in_words(user.created_at)
          ago
        %td
          = user.campaign
        %td
          = last_signed_in_mobile_at(user.last_sign_in_at)
        %td
          .btn-group
            %a.btn.dropdown-toggle{'data-toggle' => "dropdown", :href => "#"}
              Actions
              %span.caret
            %ul.dropdown-menu
              %li
                - if user.is_deleted?
                  = link_to("Restore this User", restore_admin_subscription_user_path(user), :method => :post, :confirm => "Are you sure you want to restore this user with email #{user.email}?")
                - else
                  = link_to("Delete this User", admin_subscription_user_path(user), :method => :delete, :confirm => "Are you sure you want to delete this user with email #{user.email}?")
