= form_for @user, :url => user_path, :html => { :class => 'well', :id => 'user-form' } do |f|
  %h1= title
  %br/
  
  - if @user.errors.any?
    .errors
      %h2 There were problems with your registration.

      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  %p
    = f.text_field :email, :placeholder => 'email'
  %p
    = f.password_field :password, :placeholder => 'password'
  %p
    = f.password_field :password_confirmation, :placeholder => 'confirm password'
  -#%p
    %label.checkbox
      = check_box_tag 'user[role]', 'developer'
      Are you a developer?
      
  %br/

  = f.submit 'Sign Up', :class => 'btn'
  %br/
  %br/

  = link_to 'Already have an account?', sign_in_path
