%h1 Applications to publish

- if @requests.present?
  %ol
    - @requests.each do |req|
      %li
        %h2
          = link_to req.storybook.title, admin_publish_request_path(req)
        %p
          = time_ago_in_words req.created_at
          ago
- else
  No application to process.


%h1 Published applications
- if params["published"].present?
  %p
    %a{href: '?'} Hide
    published applications
  - if @published.present?
    %ol
      - @published.each do |req|
        %li
          = link_to req.storybook.title, admin_publish_request_path(req)
  - else
    No published applications.
- else
  %p
    - if @published.count > 0
      = @published.count
      %a{href: '?published=true'}= 'published application'.pluralize(@published.count)
    - else
      No published applications.
