%h1 Showing User

#user.well
  %p
    %strong
      ID:
    = @user.id
  %p
    %strong
      Email:
    = @user.email
  %p
    %strong
      Is Admin: 
    = yes_or_no(@user.is_admin?)
  %p
    %strong
      Allowed Storybooks count: 
    = @user.allowed_storybooks_count
  %p
    %strong
      Stroybooks: 
    %ol
      - @user.storybooks.each do |storybook|
        %li
          = "(" + storybook.id.to_s +  ") " + storybook.title

  = link_to("Sign In Like this User", storybooks_path(:signed_in_as_user_id => @user.id))
