%nav.file-menu
  #file-menu.container.left
    %ul.parent
      %li.dropdown.parent.first
        = link_to "Authorly", "#menu1", :class => "dropdown-toggle", "data-toggle" => "dropdown"
        %ul.dropdown-menu
          %li
            = link_to "Exit", sign_out_path, :method => :delete

      %li.dropdown.parent
        = link_to "File", "#menu1", :class => "dropdown-toggle", "data-toggle" => "dropdown"
        %ul.dropdown-menu
          %li
            %a.compile-storybook{:href => '#', 'data-platform' => 'ios'} Compile to iOS...
            %a.compile-storybook{:href => '#', 'data-platform' => 'android'} Compile to Android...
          %li.divider
          %li
            %a.switch-storybook{:href => '#'} Switch Storybook

      %li.dropdown.parent
        = link_to "Media Management", "#menu1", :class => "dropdown-toggle", "data-toggle" => "dropdown"
        %ul.dropdown-menu
          %li
            %a.fonts{:href => '#'} Fonts...
          %li
            %a.images{:href => '#'} Images...
          %li
            %a.sounds{:href => '#'} Sounds...
          %li
            %a.videos{:href => '#'} Videos...

      %li.dropdown.parent
        = link_to "View", "#menu1", :class => "dropdown-toggle", "data-toggle" => "dropdown"
        %ul.dropdown-menu
          %li
            %a.toggle-image-editor{:href => '#'} Toggle Image Editor
          %li
            %a.toggle-scene-images{:href => '#'} Toggle Scene Images
          %li
            %a.toggle-font-editor{:href => '#'} Toggle Font Editor
          %li
            %a.reset-palettes{:href => '#'} Reset All Palettes
