%ul#toolbar
  %li.toolbar-group
    %ul.first-toolbar-group
      %li.scene.disabled
        %a.add-scene{:href => '#'} Scene
      %li.keyframe.disabled
        %a.add-keyframe{:href => '#'} Keyframe
  %li.toolbar-group
    %ul
      %li.edit-text.disabled
        %a.add-text{:href => '#'} Add Text
      %li.touch-zones.disabled
        %a.add-touch{:href => '#'} Add Touch

        - # TODO: Make this scenes_touch_zones_path with the current scene. This will be easier when this is a backbone view.
        - #= link_to "Touch Zones", touch_zones_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.add-image.disabled
        - # TODO: Make this images_scene_path with the current scene. This will be easier when this is a backbone view.
        = link_to "Add Image", images_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.edit-sprite.disabled
        %a.add-sprite{:href => '#'} Add Sprite
  %li.toolbar-group
    %ul
      %li.actions.disabled
        = link_to "Actions", actions_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.videos.disabled
        = link_to "Videos", videos_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.images.disabled
        = link_to "Images", images_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.sounds.disabled
        = link_to "Sounds", sounds_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.fonts.disabled
        = link_to "Fonts", fonts_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
  %li.toolbar-group.last
    %ul
      %li.options.disabled
        = link_to "Options", "#"
      %li.preview.disabled
        = link_to "Preview", assets_path(:from => "preview"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
