%nav.toolbar
  .container
    %ul#toolbar
      %li.toolbar-group.first
        %ul
          %li.logo
            = link_to image_tag('authorly-icon-large.png'), '#'
          %li.scene.add-scene.disabled
            %a{:href => '#'} Scene

      %li.toolbar-group
        %ul
          %li.background-sound
            = link_to "Background Sound", "#"
          %li.edit-text
            = link_to "Add Text", "#"

      %li#context-menu-container.toolbar-group.centered

      %li.toolbar-group.last.right
        %ul
          %li.compile.compile-android.disabled
            = link_to "Compile Android", "#", "data-platform" => "android"
          %li.compile.compile-ios.disabled
            = link_to "Compile iOS", "#", "data-platform" => "ios"
          %li.scene-options.disabled
            = link_to "App Settings", "#"
%nav.bottom-bar
  %div#font-menu-buttons.container
