%nav.toolbar
  .container
    %ul#toolbar
      %li.toolbar-group.first
        %ul
          %li.scene.add-scene.disabled
            %a{:href => '#'} Scene
          %li.animation-keyframe.disabled
            %a.add-animation-keyframe{:href => '#'} Animation intro
          %li.keyframe.disabled
            %a.add-keyframe{:href => '#'} Keyframe

      %li.toolbar-group.centered
        %ul
          %li.edit-text.disabled
            = link_to "Add Text", "#"
          %li.sync-audio.disabled
            = link_to "Voiceover", "#"
          %li.add-hotspot.disabled
            = link_to "Add Hotspot", "#"
          %li.background-sound.disabled
            = link_to "Background Sound", "#"

      %li.toolbar-group.last.right
        %ul
          %li.scene-options.disabled
            = link_to "App Settings", "#"
%nav.bottom-bar
  %div#font-menu-buttons.container