%ul#toolbar
  %li.toolbar-group
    %ul.first-toolbar-group
      %li.scene
        %a.add-scene{:href => '#'} Scene
      %li.keyframe
        = link_to "Keyframe", "#"
  %li.toolbar-group
    %ul
      %li.edit-text
        = link_to "Edit Text", "#"
      %li.touch-zones
        = link_to "Touch Zones", media_path(:from => "scene_touch_zones"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.add-image
        = link_to "Add Image", media_path(:from => "scene_images"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
  %li.toolbar-group
    %ul
      %li.actions
        = link_to "Actions", media_path(:from => "actions"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.videos
        = link_to "Videos", media_path(:from => "videos"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.images
        = link_to "Images", media_path(:from => "images"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.sounds
        = link_to "Sounds", media_path(:from => "sounds"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
      %li.fonts
        = link_to "Fonts", media_path(:from => "fonts"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
  %li.toolbar-group.last
    %ul
      %li.options
        = link_to "Options", "#"
      %li.preview
        = link_to "Preview", media_path(:from => "preview"), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
