%ul#toolbar
  %li.toolbar-group
    %ul
      %li.scene
        = link_to "Scene", "#"
      %li.keyframe
        = link_to "Keyframe", "#"
  %li.toolbar-group
    %ul
      %li.edit-text
        = link_to "Edit Text", "#"
      %li.add-image
        = link_to "Touch Zones", "#"
      %li.touch-zones
        = link_to "Add Image", "#"
  %li.toolbar-group
    %ul
      %li.actions
        = link_to "Actions", "#"
      %li.videos
        = link_to "Videos", "#"
      %li.images
        = link_to "Images", "#"
      %li.sounds
        = link_to "Sounds", "#"
      %li.fonts
        = link_to "Fonts", "#"
  %li.toolbar-group.last
    %ul
      %li.options
        = link_to "Options", "#"
		