!!!

%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= content_for?(:title) ? yield(:title) : 'App Builder - Authorly'
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'author'}
    = csrf_meta_tags

    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}

    %style#storybook-font-cache
    = stylesheet_link_tag 'application', :media => 'all'

    = javascript_include_tag 'jquery'

    - unless Rails.env.development?
      %script{ src: '/assets/airbrake-shim.js', 'data-airbrake-project-id' => Airbrake.configuration.project_id, 'data-airbrake-project-key' => Airbrake.configuration.api_key, 'data-airbrake-environment-name' => Rails.env }
    = yield(:head)
    = javascript_include_tag 'application'

  %body
    %span#rails-environment{'data-rails-environment' => Rails.env, 'data-git-head' => Rails.application.config.git_head}

    %header.navbar.navbar-fixed-top
      #global-sync-indicator= image_tag 'loading.gif'
      = yield :header

    #main= yield

    :javascript
      $(document).ready(function() {
        App.init()
        #{ yield :initialization_javascript }
      })
