!!!

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Interapptive"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag "application", "http://jquery-ui.googlecode.com/svn/tags/1.8.20/themes/smoothness/jquery.ui.all.css", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"}
    = csrf_meta_tags

    = yield(:head)

  %body
    %header.navbar.navbar-fixed-top
      %nav.file-menu
        #file-menu.container.left
          = render 'layouts/file_menu'
          %button#export Export JSON
      %nav.toolbar
        .container.left
          = render 'layouts/toolbar'
      %nav.font-menu
        %div#font-menu-buttons.container
          = render 'layouts/font_menu'

    #main{:role => "main"}
      .container
        .content
          .row
            .span2.navbar.sidebar
              #scene-list
            .device_container
              - flash.each do |name, msg|
                %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                  %a.close{"data-dismiss" => "alert"}
                  = msg
              %div
                %div#cleanUp{:contenteditable => "true"}
                %canvas{id: 'builder-canvas', width: 600, height: 455}
                  %p Your browser doesn't support the technology required to run this application.

    %footer.navbar.navbar-fixed-bottom
      %footer
        #keyframe-list

    = render 'assets/upload_modal'
    = render 'storybooks/index_modal'
    = render 'shared/content_modal'
    = render 'shared/font_toolbar'

    :javascript
      App.currentUser(#{current_user.to_json(:only => :id)})
      window.initBuilder()
