!!!

%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= content_for?(:title) ? yield(:title) : 'Authorly'
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'author'}

    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)

  %body
    %header.navbar.navbar-fixed-top
      %nav.file-menu
        #file-menu.container.left
          = render 'layouts/file_menu'
      %nav.toolbar
        .container.left
          = render 'layouts/toolbar'
      %nav.font-menu
        %div#font-menu-buttons.container
          = render 'layouts/font_menu'
    #main{:role => "main"}
      .container
        .content
          .row
            .span2.navbar.sidebar
              #scene-list
            .canvas-column
              - flash.each do |name, msg|
                %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                  %a.close{"data-dismiss" => "alert"}
                  = msg
              %canvas{id: 'builder-canvas', width: 1024, height: 768}
                %p Your browser doesn't support the technology required to run this application.

            #sprite-list-palette.palette.span2
            #sprite-editor-palette.palette.span2
            #text-editor-palette.palette.span2
            -##active-actions-window.widget-window.span2
            #action-form-container

    %footer.navbar.navbar-fixed-bottom
      %footer
        #keyframe-list
    / Aids w/ clipboard clean-up on paste
    %div#cleanUp{:contenteditable => 'true'}
    / RFCTR: Storybooks modal should use generic modal
    = render 'storybooks/index_modal'
    = render 'shared/content_modal'
    = render 'shared/lightbox_modal'
    #context-menu
    %span#rails-environment{'data-rails-environment' => Rails.env, 'data-git-head' => Rails.application.config.git_head}
    :javascript
      $(document).ready(function(){ App.start() })
