!!!

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Authorly
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag("application", :media => "all")
    = javascript_include_tag('jquery')
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span3 &nbsp;
        .span6
          .content
            .row
              - flash.each do |name, msg|
                %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                  %a.close_f{"data-dismiss" => "alert"}
                    = msg
          = yield
        .span3 &nbsp;
    :javascript
      #{ yield :page_javascript }
